doctype html
html
	head
		title= title
		link(rel='icon', href='/images/favicon.png')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
		script.
			const FVTT_HOST = "#{fvtt_host}:#{fvtt_port}";
		block head
	block body
